<ion-app>
<ion-content>
  <ion-menu menuId="main-menu" contentId="main">

    <ion-content>

      <div class="menu-header-bg"></div>
     
      <div class="header-content">
        
        <img src="../assets/icon/favicon.png" alt="">
        <ion-label>
          <h2>Student name</h2>
          <p>ionic application</p>
        
        </ion-label>
        
      </div>
      <ion-menu-toggle>
      <div class="action-button">
        <ion-button routerLink="profile">
          <ion-icon name="person-circle-outline"> </ion-icon>
          View Profile
        </ion-button>
      </div>
      </ion-menu-toggle>

     <ion-list class="menu-items" lines="none" >

      <ion-menu-toggle>
        <ion-item routerLink="/land">
          <ion-icon name="layers-sharp" slot="start"></ion-icon> Dashboard
        </ion-item>
        </ion-menu-toggle>

      <ion-menu-toggle>
      <ion-item routerLink="/subjects">
        <ion-icon name="clipboard-sharp" slot="start"></ion-icon> Subjects
      </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
      <ion-item routerLink="class.sched">
        <ion-icon name="time-sharp" slot="start" ></ion-icon> Class Schedule
      </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
      <ion-item routerLink="grades">
        <ion-icon name="podium-sharp" slot="start"></ion-icon> Grades
      </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
      <ion-item routerLink="calendar">
        <ion-icon name="calendar-clear-sharp" slot="start"></ion-icon> Calendar
      </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
      <ion-item routerLink="stud.bal">
        <ion-icon name="wallet-sharp" slot="start"></ion-icon> Student Balance
      </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
      <ion-item routerLink="help">
        <ion-icon name="information-circle-sharp" slot="start"></ion-icon> Help and Support
      </ion-item>
      </ion-menu-toggle>

      <ion-item>
        <ion-icon name="log-out-sharp" slot="start"></ion-icon>Log out
      </ion-item>

     </ion-list>
    </ion-content>

  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-content>

<ion-footer>
  <ion-toolbar >
    <div id="container">
      <ion-title size="small"> © 2023 app sample </ion-title>
    </div>
  </ion-toolbar>
</ion-footer>
</ion-app>




