*{
    font-family: Arial, Helvetica, sans-serif;
}

.menu-header-bg {
    height: 180px;
    width: 350px;
    background: #1F3446;
    background: linear-gradient(90deg, #F98011 0%, #f4bd2c 100%);
    box-shadow: 0px 1px 10px rgba(98, 140, 255, 0);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
    margin-right: 14px;
}

.header-content{
    position: absolute;
    top: 30px;
    left: 15px;
    display: flex;
    align-items: center;

    img{
        width: 80px;
        height: 80px;
        border-radius: 50px;
        border: 7px solid white;
    }

    h2{
        font-weight: 300;
        color: #1F3446;
    }

    p{
        font-size: 12px;
        color: #1F3446;
        font-weight: 100;
        letter-spacing: 0.4px;

    }
}

.action-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    ion-button {
        text-transform: capitalize;
        font-weight: 300;
        border-radius: 7px;
        box-shadow: none;
    }
}

ion-icon {
    margin-right: 10px;
}

.menu-items {
    margin: 0px;

    ion-icon {
        margin-right: 20px;
        color: #F98011;
    }

    ion-item {
        padding-left: 20px;
        margin-bottom: 10px;
    }
}

#container {
    text-align: center;
    color: #1F3446;
    position: absolute;
    left: 25px;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
  }

ion-footer{
    --background: #1F3446;
}

ion-button{
    --background: #F98011;
    --color: #1F3446;
}