<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Student Portal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Student Portal
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
   
      <img src="./assets/ionicicon.png">
        <ion-list lines="none" >
          <ion-item>
            <ion-label position="floating" color="dark">Username</ion-label>
            <ion-input color="dark" type="username"placeholder="Enter username"></ion-input>
          </ion-item>
            <ion-col></ion-col>
          <ion-item>
            <ion-label position="floating" color="dark">Password</ion-label>
            <ion-input type="password"placeholder="Enter password"></ion-input>
          </ion-item>
            <ion-row>
              <ion-col>
                <ion-button class="btn">
                  Log in
                </ion-button>
              </ion-col>
            </ion-row>
          <ion-button fill="clear" color="dark">
            Forgot Password?
        </ion-button> 
      </ion-list>

  </div>
</ion-content>


