#container {
  text-align: center;
  background: white;
  position: absolute;
  left: 25px;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  
}

ion-footer{
  font-size: 1rem;

}

ion-button{
  width: 195px;
  --background: #F98011;
  --color: #1F3446;
 }


ion-item{
  margin-bottom: 10px;
}

img{
  margin-top: 25px;
  height: 200px;
  width: 200px;
}

ion-content{
  --background: #f4bd2c;
}
