<ion-header>
  <ion-toolbar>
    <ion-title color="light">
      Dashboard
    </ion-title>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu" color="light"></ion-menu-button>

      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
